@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../fonts/glyphicons-halflings-regular.eot');
  src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
	background: #373737;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
	line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #fff;
	margin-top: 0px;
}

.navbar-inverse {
	border-radius: 0px;
}

.text-background {
	padding: 20px;
	background: rgba(0,0,0,0.8);
}

.table-background {
	background: rgba(0,0,0,0.5);
}

table {
	color: #fff;	
}

.tablesorter-bootstrap thead th {
	background: rgba(0, 0, 0, 0.5);
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background: rgba(255,255,255,0.2);
}

.table-hover > tbody > tr:hover {
  background-color: #888888;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.tooltip-inner {
	font-size: 16px;
	font-weight: 600;
}

.tooltip-arrow {
	color: rgb(200,200,200);
}